In [1]:
import pandas as pd
import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as datetime
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
pwd

'/Users/bobbykelsey/GA/capstone_final'

In [3]:
tweets_2015= pd.read_csv('./final_tweets_2015')
tweets_2016 = pd.read_csv('./final_tweets_2016')
tweets_2017 = pd.read_csv('./final_tweets_2017')

final_2015 = pd.read_csv('./datasets/game_2015')
final_2016 = pd.read_csv('./datasets/game_2016')
final_2017 = pd.read_csv('./datasets/game_2017')

accounts_2017 = pd.read_csv('./datasets/twitter_accounts.csv')
accounts_2016 = pd.read_csv('./datasets/account_2016.csv')
accounts_2015 = pd.read_csv('./datasets/account_2015.csv')

In [4]:
tweets_2015['date'] =  pd.to_datetime(tweets_2015['date'],format= "%Y/%m/%d")
tweets_2016['date'] =  pd.to_datetime(tweets_2016['date'],format= "%Y/%m/%d")
tweets_2017['date'] =  pd.to_datetime(tweets_2017['date'],format= "%Y/%m/%d")

final_2015['date'] =  pd.to_datetime(final_2015['date'],format= "%Y/%m/%d")
final_2016['date'] =  pd.to_datetime(final_2016['date'],format= "%Y/%m/%d")
final_2017['date'] =  pd.to_datetime(final_2017['date'],format= "%Y/%m/%d")

In [5]:
tweets_2015.drop(['Unnamed: 0'], axis=1, inplace=True)
tweets_2016.drop(['Unnamed: 0'], axis=1, inplace=True)
tweets_2017.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
tweets_2015.head()

,date,hashtags,text,username,time,compound,neg,neu,pos
0,2016-01-01,NaN,business is booming …,AB84,18:10:53,0.0000,0.0,1.000,0.000
1,2015-12-31,#ad,"steeler nation, you in this week??? #ad join h...",AB84,20:18:19,0.4098,0.0,0.745,0.255
2,2015-12-30,NaN,new year around the corner means a new year of...,AB84,22:24:56,0.0000,0.0,1.000,0.000
3,2015-12-30,#ad,i'm guessing your lineup looks a little simila...,AB84,14:29:50,0.0000,0.0,1.000,0.000
4,2015-12-29,#ad,so who's in your lineup this week in fanduel? ...,AB84,15:10:32,0.7830,0.0,0.671,0.329

In [7]:
tweets_2015 = tweets_2015.merge(accounts_2015, on='username')
tweets_2016 = tweets_2016.merge(accounts_2016, on='username')
tweets_2017 = tweets_2017.merge(accounts_2017, on='username')

In [8]:
tweets_2015 = tweets_2015.rename(columns={'Player': 'name'})
tweets_2016 = tweets_2016.rename(columns={'Player': 'name'})

In [9]:
tweets_2015.head()

,date,hashtags,text,username,time,compound,neg,neu,pos,name
0,2016-01-01,NaN,business is booming …,AB84,18:10:53,0.0000,0.0,1.000,0.000,Antonio Brown*+
1,2015-12-31,#ad,"steeler nation, you in this week??? #ad join h...",AB84,20:18:19,0.4098,0.0,0.745,0.255,Antonio Brown*+
2,2015-12-30,NaN,new year around the corner means a new year of...,AB84,22:24:56,0.0000,0.0,1.000,0.000,Antonio Brown*+
3,2015-12-30,#ad,i'm guessing your lineup looks a little simila...,AB84,14:29:50,0.0000,0.0,1.000,0.000,Antonio Brown*+
4,2015-12-29,#ad,so who's in your lineup this week in fanduel? ...,AB84,15:10:32,0.7830,0.0,0.671,0.329,Antonio Brown*+

In [12]:
tweets_2015['name'] = tweets_2015['name'].str.rstrip('*')
tweets_2015['name'] = tweets_2015['name'].str.rstrip('+')
tweets_2016['name'] = tweets_2016['name'].str.rstrip('*')
tweets_2016['name'] = tweets_2016['name'].str.rstrip('+')
tweets_2017['name'] = tweets_2017['name'].str.rstrip('*')
tweets_2017['name'] = tweets_2017['name'].str.rstrip('+')

In [13]:
tweets_2015.head()

,date,hashtags,text,username,time,compound,neg,neu,pos,name
0,2016-01-01,NaN,business is booming …,AB84,18:10:53,0.0000,0.0,1.000,0.000,Antonio Brown
1,2015-12-31,#ad,"steeler nation, you in this week??? #ad join h...",AB84,20:18:19,0.4098,0.0,0.745,0.255,Antonio Brown
2,2015-12-30,NaN,new year around the corner means a new year of...,AB84,22:24:56,0.0000,0.0,1.000,0.000,Antonio Brown
3,2015-12-30,#ad,i'm guessing your lineup looks a little simila...,AB84,14:29:50,0.0000,0.0,1.000,0.000,Antonio Brown
4,2015-12-29,#ad,so who's in your lineup this week in fanduel? ...,AB84,15:10:32,0.7830,0.0,0.671,0.329,Antonio Brown

In [14]:
def get_week(tweet_df): 
    nfl_week = []
    for i in tweet_df['date']:
        yr, weekof, dayof = i.isocalendar()
        week = (weekof - 1) if dayof == 1 else weekof
        nfl_week.append(week)
    tweet_df['nfl_week']= nfl_week
    return
get_week(tweets_2015)
get_week(tweets_2016)
get_week(tweets_2017)
get_week(final_2015)
get_week(final_2016)
get_week(final_2017)

In [15]:
tweets_2015.head()

,date,hashtags,text,username,time,compound,neg,neu,pos,name,nfl_week
0,2016-01-01,NaN,business is booming …,AB84,18:10:53,0.0000,0.0,1.000,0.000,Antonio Brown,53
1,2015-12-31,#ad,"steeler nation, you in this week??? #ad join h...",AB84,20:18:19,0.4098,0.0,0.745,0.255,Antonio Brown,53
2,2015-12-30,NaN,new year around the corner means a new year of...,AB84,22:24:56,0.0000,0.0,1.000,0.000,Antonio Brown,53
3,2015-12-30,#ad,i'm guessing your lineup looks a little simila...,AB84,14:29:50,0.0000,0.0,1.000,0.000,Antonio Brown,53
4,2015-12-29,#ad,so who's in your lineup this week in fanduel? ...,AB84,15:10:32,0.7830,0.0,0.671,0.329,Antonio Brown,53

In [16]:
def tweet_info(df, final):
    compound = df.groupby(['nfl_week','name'], as_index=False)['compound'].mean() 
    weekly_tweets = df.groupby(['nfl_week','name'], as_index=False)['text'].count()
    neg_tweets = df.groupby(['nfl_week','name'], as_index=False)['neg'].agg('max') 
    pos_tweets = df.groupby(['nfl_week','name'], as_index=False)['pos'].agg('max') 
    stdev = df.groupby(['nfl_week','name'], as_index=False)['compound'].agg(np.std, ddof=0)
    return
tweet_info(tweets_2015, final_2015)

In [17]:
compound = tweets_2015.groupby(['nfl_week','name'], as_index=False)['compound'].mean() 
weekly_tweets = tweets_2015.groupby(['nfl_week','name'], as_index=False)['text'].count()
neg_tweets = tweets_2015.groupby(['nfl_week','name'], as_index=False)['neg'].agg('max') 
pos_tweets = tweets_2015.groupby(['nfl_week','name'], as_index=False)['pos'].agg('max') 
stdev = tweets_2015.groupby(['nfl_week','name'], as_index=False)['compound'].agg(np.std, ddof=0)
neg_avg = tweets_2015.groupby(['nfl_week','name'], as_index=False)['neg'].mean() 
pos_avg = tweets_2015.groupby(['nfl_week','name'], as_index=False)['pos'].mean()
neg_avg.rename(columns={'neg':'neg_avg'}, inplace=True)
pos_avg.rename(columns={'pos':'pos_avg'}, inplace=True)

In [18]:
df_2015 = final_2015.merge(compound, on=['name','nfl_week'])
df_2015 = df_2015.merge(weekly_tweets, on=['name','nfl_week'])    
df_2015 = df_2015.merge(neg_tweets, on=['name','nfl_week'])
df_2015 = df_2015.merge(pos_tweets, on=['name','nfl_week'])
df_2015 = df_2015.merge(neg_avg, on=['name','nfl_week'])
df_2015 = df_2015.merge(pos_avg, on=['name','nfl_week'])

In [19]:
df_2015.head()

,Unnamed: 0,player_id,date,name,position,GS,opponent,current_team,current_salary,year,game_number,team,game_location,game_won,def_avg,TD,Yds,Int,Yds.1,TD.1,Tgt,Rec,Yds.2,TD.2,fantasy_points,ppr_avg,fantpt_avg,nfl_week,compound,text,neg,pos,neg_avg,pos_avg
0,0,19449,2015-09-13,Emmanuel Sanders,WR,15,BAL,Denver Broncos,"6,750,000",2015,1,DEN,H,True,11.6,0,0,0,29,0,136,76,1135,6,6.5,14.96000,9.866667,37,0.360496,25,0.059,0.827,0.002360,0.229200
1,3,2425,2015-11-22,Kenny Britt,WR,14,BAL,Cleveland Browns,"4,000,000",2015,10,STL,A,False,11.6,0,0,0,0,0,72,36,681,3,2.4,7.63125,5.375000,47,0.220733,3,0.101,0.340,0.033667,0.113333
2,4,11975,2015-12-13,Jermaine Kearse,WR,16,BAL,New York Jets,"2,200,000",2015,13,SEA,A,True,11.6,0,0,0,0,0,68,49,685,5,7.4,9.21875,6.312500,50,0.612400,1,0.000,0.556,0.000000,0.556000
3,5,1524,2015-10-11,Travis Benjamin,WR,15,BAL,Los Angeles Chargers,"5,250,000",2015,5,CLE,A,True,11.6,0,0,0,12,0,125,68,966,5,8.3,12.36250,8.000000,41,0.021543,7,0.454,0.466,0.109714,0.118143
4,6,1524,2015-11-30,Travis Benjamin,WR,15,BAL,Los Angeles Chargers,"5,250,000",2015,11,CLE,H,False,11.6,0,0,0,12,0,125,68,966,5,16.0,12.36250,8.000000,48,0.462229,7,0.000,0.889,0.000000,0.516857

In [20]:
compound = tweets_2016.groupby(['nfl_week','name'], as_index=False)['compound'].mean() 
weekly_tweets = tweets_2016.groupby(['nfl_week','name'], as_index=False)['text'].count()
neg_tweets = tweets_2016.groupby(['nfl_week','name'], as_index=False)['neg'].agg('min') 
pos_tweets = tweets_2016.groupby(['nfl_week','name'], as_index=False)['pos'].agg('max') 
stdev = tweets_2016.groupby(['nfl_week','name'], as_index=False)['compound'].agg(np.std, ddof=0)
neg_avg = tweets_2016.groupby(['nfl_week','name'], as_index=False)['neg'].mean() 
pos_avg = tweets_2016.groupby(['nfl_week','name'], as_index=False)['pos'].mean()

neg_avg.rename(columns={'neg':'neg_avg'}, inplace=True)
pos_avg.rename(columns={'pos':'pos_avg'}, inplace=True)

df_2016 = final_2016.merge(compound, on=['name','nfl_week'])
df_2016 = df_2016.merge(weekly_tweets, on=['name','nfl_week'])    
df_2016 = df_2016.merge(neg_tweets, on=['name','nfl_week'])
df_2016 = df_2016.merge(pos_tweets, on=['name','nfl_week'])
df_2016 = df_2016.merge(neg_avg, on=['name','nfl_week'])
df_2016 = df_2016.merge(pos_avg, on=['name','nfl_week'])

In [21]:
neg_avg.head()

   nfl_week            name   neg_avg
0        35   Aaron Rodgers  0.069800
1        35    Adam Thielen  0.000000
2        35  Alshon Jeffery  0.000000
3        35     Andy Dalton  0.000000
4        35   Antonio Brown  0.056833

In [22]:
compound = tweets_2017.groupby(['nfl_week','name'], as_index=False)['compound'].mean() 
weekly_tweets = tweets_2017.groupby(['nfl_week','name'], as_index=False)['text'].count()
neg_tweets = tweets_2017.groupby(['nfl_week','name'], as_index=False)['neg'].agg('min') 
pos_tweets = tweets_2017.groupby(['nfl_week','name'], as_index=False)['pos'].agg('max') 
stdev = tweets_2017.groupby(['nfl_week','name'], as_index=False)['compound'].agg(np.std, ddof=0)
neg_avg = tweets_2017.groupby(['nfl_week','name'], as_index=False)['neg'].mean() 
pos_avg = tweets_2017.groupby(['nfl_week','name'], as_index=False)['pos'].mean()
neg_avg.rename(columns={'neg':'neg_avg'}, inplace=True)
pos_avg.rename(columns={'pos':'pos_avg'}, inplace=True)

df_2017 = final_2017.merge(compound, on=['name','nfl_week'])
df_2017 = df_2017.merge(weekly_tweets, on=['name','nfl_week'])    
df_2017 = df_2017.merge(neg_tweets, on=['name','nfl_week'])
df_2017 = df_2017.merge(pos_tweets, on=['name','nfl_week'])
df_2017 = df_2017.merge(neg_avg, on=['name','nfl_week'])
df_2017 = df_2017.merge(pos_avg, on=['name','nfl_week'])

In [23]:
df_2017.to_csv('./datasets/df_2017')
df_2016.to_csv('./datasets/df_2016')
df_2015.to_csv('./datasets/df_2015')

In [27]:
df_2017.shape

(937, 34)

In [28]:
df_2016.shape

(1339, 34)

In [29]:
df_2015.shape

(962, 34)

## Adding tweets and games

In [25]:
df_final = game_final.merge(average_feeling, on=['name','nfl_week'])

NameError: name 'game_final' is not defined

In [114]:
df_final.to_csv('./datasets/df_final_2017')

NameError: name 'df_final' is not defined

In [60]:
df_2015[df_2015['fantasy_points']==0]

,Unnamed: 0,player_id,date,name,position,opponent,current_team,current_salary,year,game_number,team,game_location,game_won,def_avg,fantasy_points,ppr_avg,fantpt_avg,nfl_week,compound,text,neg,pos
1,1,14098,2015-09-13,Brandon Marshall,OLB,BAL,Denver Broncos,"2,500,000",2015,1,DEN,H,True,11.6,0.0,21.200000,14.375000,37,0.305743,30,0.745,1.000
28,42,11229,2015-11-01,David Johnson,TE,BAL,NaN,NaN,2015,8,SDG,A,False,11.6,0.0,13.487500,10.875000,44,-0.049960,5,0.473,0.390
43,337,11229,2015-10-25,David Johnson,TE,OAK,NaN,NaN,2015,7,SDG,H,False,4.3,0.0,13.487500,10.875000,43,0.277675,4,0.000,0.296
52,75,19449,2015-11-15,Emmanuel Sanders,WR,KAN,Denver Broncos,"6,750,000",2015,9,DEN,H,False,7.8,0.0,14.960000,9.866667,46,0.361200,1,0.000,0.294
53,76,14098,2015-09-17,Brandon Marshall,OLB,KAN,Denver Broncos,"2,500,000",2015,2,DEN,A,True,7.8,0.0,21.200000,14.375000,38,0.253856,9,0.000,0.737
55,77,14098,2015-11-15,Brandon Marshall,OLB,KAN,Denver Broncos,"2,500,000",2015,9,DEN,H,False,7.8,0.0,21.200000,14.375000,46,0.301921,14,0.000,0.808
79,122,11229,2015-11-22,David Johnson,TE,KAN,NaN,NaN,2015,10,SDG,H,False,7.8,0.0,13.487500,10.875000,47,0.116586,7,0.162,0.804
81,123,11229,2015-12-13,David Johnson,TE,KAN,NaN,NaN,2015,13,SDG,A,False,7.8,0.0,13.487500,10.875000,50,0.271400,1,0.000,0.207
100,149,14098,2015-09-27,Brandon Marshall,OLB,DET,Denver Broncos,"2,500,000",2015,3,DEN,A,True,9.8,0.0,21.200000,14.375000,39,0.242989,9,0.799,0.737
132,612,11229,2015-10-12,David Johnson,TE,PIT,NaN,NaN,2015,5,SDG,H,False,8.6,0.0,13.487500,10.875000,41,0.294233,3,0.000,0.423
140,215,14098,2015-10-04,Brandon Marshall,OLB,MIN,Denver Broncos,"2,500,000",2015,4,DEN,H,True,7.5,0.0,21.200000,14.375000,40,0.097944,26,0.730,0.737
145,221,11975,2015-12-06,Jermaine Kearse,WR,MIN,New York Jets,"2,200,000",2015,12,SEA,A,True,7.5,0.0,9.218750,6.312500,49,-0.064000,2,0.273,0.000
184,290,14098,2015-10-11,Brandon Marshall,OLB,OAK,Denver Broncos,"2,500,000",2015,5,DEN,A,True,4.3,0.0,21.200000,14.375000,41,0.024245,10,0.605,0.756
185,291,14098,2015-12-13,Brandon Marshall,OLB,OAK,Denver Broncos,"2,500,000",2015,13,DEN,H,False,4.3,0.0,21.200000,14.375000,50,0.291216,19,0.148,0.629
189,297,6211,2015-11-22,Eric Ebron,TE,OAK,Detroit Lions,"1,590,337",2015,10,DET,H,True,4.3,0.0,9.335714,6.000000,47,-0.001486,14,0.444,0.593
228,430,14098,2015-11-01,Brandon Marshall,OLB,GNB,Denver Broncos,"2,500,000",2015,7,DEN,H,True,5.9,0.0,21.200000,14.375000,44,0.042443,7,0.558,0.592
234,364,14098,2015-10-18,Brandon Marshall,OLB,CLE,Denver Broncos,"2,500,000",2015,6,DEN,A,True,4.7,0.0,21.200000,14.375000,42,0.081050,30,0.636,1.000
272,417,2857,2016-01-03,Martavis Bryant,WR,CLE,Pittsburgh Steelers,"615,000",2015,16,PIT,A,True,4.7,0.0,15.472727,10.909091,53,0.142975,4,0.000,0.236
283,433,2425,2015-10-11,Kenny Britt,WR,GNB,Cleveland Browns,"4,000,000",2015,5,STL,A,False,5.9,0.0,7.631250,5.375000,41,0.000000,1,0.000,0.000
284,434,11975,2015-09-20,Jermaine Kearse,WR,GNB,New York Jets,"2,200,000",2015,2,SEA,A,False,5.9,0.0,9.218750,6.312500,38,0.200950,2,0.000,0.130
306,474,11229,2015-10-18,David Johnson,TE,GNB,NaN,NaN,2015,6,SDG,A,False,5.9,0.0,13.487500,10.875000,42,0.325925,8,0.124,0.547
326,502,14098,2015-11-08,Brandon Marshall,OLB,IND,Denver Broncos,"2,500,000",2015,8,DEN,A,False,5.8,0.0,21.200000,14.375000,45,0.097217,12,0.749,0.618
348,541,23393,2015-09-13,Sammy Watkins,WR,IND,Los Angeles Rams,NaN,2015,1,BUF,H,True,5.8,0.0,16.830769,12.230769,37,0.267583,6,0.245,0.750
364,565,14098,2015-12-20,Brandon Marshall,OLB,PIT,Denver Broncos,"2,500,000",2015,14,DEN,A,False,8.6,0.0,21.200000,14.375000,51,0.407356,9,0.000,0.677
416,637,14098,2015-12-28,Brandon Marshall,OLB,CIN,Denver Broncos,"2,500,000",2015,15,DEN,H,True,6.3,0.0,21.200000,14.375000,52,0.181519,26,0.255,1.000
420,642,1524,2015-12-06,Travis Benjamin,WR,CIN,Los Angeles Chargers,"5,250,000",2015,12,CLE,H,False,6.3,0.0,12.362500,8.000000,49,0.459917,6,0.000,0.808
443,677,11229,2015-09-20,David Johnson,TE,CIN,NaN,NaN,2015,2,SDG,A,False,6.3,0.0,13.487500,10.875000,38,0.359500,1,0.185,0.395
445,679,152,2015-09-27,Kamar Aiken,WR,CIN,Indianapolis Colts,"1,000,000",2015,3,BAL,H,False,6.3,0.0,12.337500,7.750000,39,0.119175,4,0.000,0.756
502,812,11229,2015-12-20,David Johnson,TE,MIA,NaN,NaN,2015,14,SDG,H,True,5.6,0.0,13.487500,10.875000,51,0.542050,4,0.101,0.499
548,855,20837,2015-11-15,Willie Snead,WR,WAS,New Orleans Saints,"615,000",2015,10,NOR,A,False,7.0,0.0,12.226667,7.733333,46,0.452180,5,0.179,0.508
585,926,23645,2015-09-13,Charcandrick West,RB,HOU,Kansas City Chiefs,"700,000",2015,1,KAN,A,True,5.1,0.0,8.853333,7.533333,37,0.492120,5,0.000,0.855
608,1552,14098,2015-11-22,Brandon Marshall,OLB,CHI,Denver Broncos,"2,500,000",2015,10,DEN,A,True,8.6,0.0,21.200000,14.375000,47,0.209393,15,1.000,0.737
642,1030,11975,2015-11-01,Jermaine Kearse,WR,DAL,New York Jets,"2,200,000",2015,8,SEA,A,True,7.1,0.0,9.218750,6.312500,44,0.304417,6,0.167,0.341
749,1228,2425,2015-11-01,Kenny Britt,WR,SFO,Cleveland Browns,"4,000,000",2015,7,STL,H,True,4.9,0.0,7.631250,5.375000,44,0.000000,3,0.000,0.000
786,1805,11229,2015-11-29,David Johnson,TE,JAX,NaN,NaN,2015,11,SDG,A,True,12.7,0.0,13.487500,10.875000,48,0.471683,6,0.000,0.529
807,1323,2452,2015-09-27,Richie Brockel,TE,NOR,NaN,NaN,2015,3,CAR,H,True,9.4,0.0,NaN,NaN,39,0.476700,1,0.285,0.533
809,1330,6598,2015-09-20,Mike Evans,WR,NOR,Tampa Bay Buccaneers,"690,000",2015,2,TAM,A,True,9.4,0.0,14.040000,9.133333,38,0.708800,1,0.000,0.296
844,1392,2452,2015-10-04,Richie Brockel,TE,TAM,NaN,NaN,2015,4,CAR,A,True,6.1,0.0,NaN,NaN,40,0.630900,2,0.000,0.318
896,1490,11975,2015-10-18,Jermaine Kearse,WR,CAR,New York Jets,"2,200,000",2015,6,SEA,H,False,8.6,0.0,9.218750,6.312500,42,0.121157,7,0.000,0.506
924,1545,15817,2015-11-22,Alfred Morris,RB,CAR,Dallas Cowboys,"1,200,000",2015,10,WAS,A,False,8.6,0.0,6.037500,5.437500,47,0.329100,4,0.202,0.577
927,1551,13473,2015-10-18,Tyler Lockett,WR,CAR,Seattle Seahawks,"695,000",2015,6,SEA,H,False,8.6,0.0,10.337500,6.375000,42,0.258505,19,0.418,0.319
952,1605,11229,2015-11-09,David Johnson,TE,CHI,NaN,NaN,2015,9,SDG,H,False,8.6,0.0,13.487500,10.875000,45,0.829520,5,0.000,0.625
964,1624,7063,2015-09-20,Michael Floyd,WR,CHI,Minnesota Vikings,"887,058",2015,2,ARI,A,True,8.6,0.0,11.526667,8.066667,38,0.137507,15,0.000,0.492
999,1866,11229,2016-01-03,David Johnson,TE,DEN,NaN,NaN,2015,16,SDG,A,False,6.8,0.0,13.487500,10.875000,53,0.492600,1,0.000,0.225
1002,1687,2652,2015-11-15,John Brown,WR,SEA,Arizona Cardinals,"1,797,000",2015,9,ARI,A,True,8.9,0.0,13.833333,9.533333,46,0.541867,3,0.000,0.615
1005,1694,2425,2015-10-04,Kenny Britt,WR,ARI,Cleveland Browns,"4,000,000",2015,4,STL,A,True,6.8,0.0,7.631250,5.375000,40,0.206133,3,0.262,0.559
1093,1841,23645,2015-09-17,Charcandrick West,RB,DEN,Kansas City Chiefs,"700,000",2015,2,KAN,H,False,6.8,0.0,8.853333,7.533333,38,0.461633,6,0.173,0.583

In [66]:
df_2015[df_2015['name']=='Emmanuel Sanders']

,Unnamed: 0,player_id,date,name,position,opponent,current_team,current_salary,year,game_number,team,game_location,game_won,def_avg,fantasy_points,ppr_avg,fantpt_avg,nfl_week,compound,text,neg,pos
0,0,19449,2015-09-13,Emmanuel Sanders,WR,BAL,Denver Broncos,"6,750,000",2015,1,DEN,H,True,11.6,6.5,14.96,9.866667,37,0.360496,25,0.059,0.827
51,74,19449,2015-09-17,Emmanuel Sanders,WR,KAN,Denver Broncos,"6,750,000",2015,2,DEN,A,True,7.8,20.7,14.96,9.866667,38,0.215375,20,0.286,0.657
52,75,19449,2015-11-15,Emmanuel Sanders,WR,KAN,Denver Broncos,"6,750,000",2015,9,DEN,H,False,7.8,0.0,14.96,9.866667,46,0.361200,1,0.000,0.294
99,148,19449,2015-09-27,Emmanuel Sanders,WR,DET,Denver Broncos,"6,750,000",2015,3,DEN,A,True,9.8,8.7,14.96,9.866667,39,0.191426,27,0.219,0.697
138,213,19449,2015-10-04,Emmanuel Sanders,WR,MIN,Denver Broncos,"6,750,000",2015,4,DEN,H,True,7.5,6.8,14.96,9.866667,40,0.231100,11,0.000,0.285
182,288,19449,2015-10-11,Emmanuel Sanders,WR,OAK,Denver Broncos,"6,750,000",2015,5,DEN,A,True,4.3,11.1,14.96,9.866667,41,0.451633,5,0.163,0.808
183,289,19449,2015-12-13,Emmanuel Sanders,WR,OAK,Denver Broncos,"6,750,000",2015,13,DEN,H,False,4.3,1.7,14.96,9.866667,50,0.308630,20,0.310,1.000
232,362,19449,2015-10-18,Emmanuel Sanders,WR,CLE,Denver Broncos,"6,750,000",2015,6,DEN,A,True,4.7,16.9,14.96,9.866667,42,-0.010671,7,0.478,0.500
280,429,19449,2015-11-01,Emmanuel Sanders,WR,GNB,Denver Broncos,"6,750,000",2015,7,DEN,H,True,5.9,2.2,14.96,9.866667,44,-0.036167,6,0.437,0.206
324,500,19449,2015-11-08,Emmanuel Sanders,WR,IND,Denver Broncos,"6,750,000",2015,8,DEN,A,False,5.8,15.0,14.96,9.866667,45,0.133761,22,0.367,0.649
363,564,19449,2015-12-20,Emmanuel Sanders,WR,PIT,Denver Broncos,"6,750,000",2015,14,DEN,A,False,8.6,26.5,14.96,9.866667,51,0.254760,5,0.000,0.321
415,636,19449,2015-12-28,Emmanuel Sanders,WR,CIN,Denver Broncos,"6,750,000",2015,15,DEN,H,True,6.3,12.7,14.96,9.866667,52,0.104256,17,0.157,1.000